*{
    font-family: 'Poppins', sans-serif;
    
}
body{

    color: rgb(142, 142, 147);
    background-color: rgb(28, 28, 30);
}
#navbar{
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(44, 44, 46);
}
#navbar header{
    color: rgb(242, 242, 247);
    
}
header{
    margin: 10px;
    font-size: 1.5em;
    text-align: center;

}

.vertical-menu{
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(44, 44, 46);
    background-color: rgb(58, 58, 60);
    
    
}
.vertical-menu a{
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(142, 142, 147);
    color: rgb(174, 174, 178);

}
.vertical-menu a:hover{
    color: rgb(229, 229, 234);
}
.vertical-menu a:active{
    color: rgb(242, 242, 247);
}
#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    
}
.main-section header{
    color: rgb(0, 132, 255);
    text-align: left;
}
.main-section article{
    margin-left: 20px;
}
code{

    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    color: rgb(229, 229, 234);
    background-color: rgb(142, 142, 147);
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: monospace;
    font-size: 1.25em;
}

@media (max-width: 600px) {
  
 
}